.App {
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  margin:0 ;
}


.search-form{
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding:10px;
}

.search-button{
  background: lightcoral;
  color:white;
  border:none;
  padding:10px 20px;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

h2{
  color: crimson;
}
